html {
  height:100%;
}

body {
  height:100%;
}

.cooltext {
  position:relative;
  margin-top:-130px;
  z-index:-1;
}

.cooltext h1 {
  text-align:center;
}

.parallax {
  -webkit-perspective : 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer.names {
  padding: 25vh 0 0 0;
}
.parallax__layer.date {
  padding: 60vh 0 0 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-0.75px) scale(1.75);
}

#home {
  background: url(jonandpatricia.jpg) no-repeat center center scroll;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  /*padding: 80vh 0 0 0;*/
}

.floatingcenter{
  margin: 0 auto;
  /*width: 900px;*/
}

.names h1, .date h1{
  font:700 55px/55px "futura-pt", sans-serif;
  color: #FFF;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

.names{
  top:25px;
  position:absolute;
  left:0px;
  right:0px;
}

.date{
  position:absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.maincontent {
  position: relative;
}

.page_header h1 {
  text-align:center;
}
