html {
  height:100%;
}

body {
  height:100%;
  overflow:hidden;
}

.timer {
  position:relative;
  margin-top:-130px;
  padding-top:50vh;
  z-index:-3;
}

.timer h1 {
  text-align:center;
  color: #333;
  font-family: 'Special Elite', cursive;
  z-index:-1;
}

.parallax {
  -webkit-perspective : 1px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer.names {
  padding: 10vh 0 0 0;
}
.parallax__layer.date {
  padding: 30vh 0 0 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-0.75px) scale(1.75);
  -ms-transform: translateZ(-0.75px) scale(1.75);
  transform: translateZ(-0.75px) scale(1.75);
}

#backgrounds {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index:-1;
}

.background_image {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home_jono {
  background: url(images/jono_happy.jpg) no-repeat center center scroll;
  position: relative;
  /*padding: 80vh 0 0 0;*/
}

#home_patricia {
  background: url(images/patricia_happy.jpg) no-repeat center center scroll;
  position: floating;
  /*padding: 80vh 0 0 0;*/
}

@media only screen
and (max-width : 1300px) {
  #home_jono {
      background: url(images/jono_happy_med.jpg) no-repeat center center scroll;
      position: relative;
  }
  #home_patricia {
      background: url(images/patricia_happy_med.jpg) no-repeat center center scroll;
      position: floating;
  }
}
@media only screen
and (max-width : 767px) {
  #home_jono {
      background: url(images/jono_happy_med.jpg) no-repeat center center scroll;
      position: relative;
  }
  #home_patricia {
      background: url(images/patricia_happy_med.jpg) no-repeat center center scroll;
      position: floating;
  }
}

.floatingcenter{
  margin: 0 auto;
  /*width: 900px;*/
}

.names h1, .date h1{
  font-weight:700;
  font-size: 55px/55px;
  font-family: 'Special Elite', cursive;
  color: #EEE;
  letter-spacing: 8px;
  text-align: center;
  margin: 0 0 20px 0;
  text-shadow: 0 0 3px #000;
}

@media only screen
and (max-width : 500px) {
  .names h1, .date h1{
    font-size: 35px/35px;
  }
  .parallax__layer.date {
    padding: 50vh 0 0 0;
  }
}

.names{
  position:absolute;
  left:0px;
  right:0px;
}

.date{
  position:absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.maincontent {
  position: relative;
}

.page_header h1 {
  text-align:center;
}

.right_align {
  text-align:right;
}

.center_align {
  text-align:center;
}

.jonathan {

}

.hide_scrolling_text {
  background-color: #fff;
  z-index:-2;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.odd_row {
  background-color: #F6ECE3;
  border-top: 1px #BBB solid;
  border-bottom: 1px #BBB solid;
}

body {
  background-color: #FBFBFB;
}

.glyphicon {
  font-size: 50px;
}

.icon {
  max-height: 100px;
}

.footer ul {
  text-align:center;
}

.language_preference {
  text-align:right;
  position:absolute;
  top: 0px;
  right: 0px;
  background-color:rgba(255, 255, 255, 0.66);
  padding: 3px;
  font-family: 'Special Elite', cursive;
  line-height: normal;
  padding: 3px 3px 0px 3px;
  z-index: 1;
}

.language_choice {
  width:20px;
  margin-bottom:3px;  
}
